* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

:root {
    --text-color: #fbdc67;
    --music-player-color: ;
    --circle-player: #ff9758;
}

.container {
    background-image: url("../img/paper.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-player {
    backdrop-filter: blur(2px);
    border: 2px solid var(--circle-player);
    box-shadow: 1px 1px 30px 1px var(--circle-player);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 0.8rem;

}

.album-cover {
    /* border-radius: 50%; */
    border-radius: 0.8rem;
    width: 15rem;
    height: 15rem;
    margin:2rem 2rem 0 2rem;
    border: 2px solid var(--circle-player);
    box-shadow: 1px 1px 30px 1px var(--circle-player);

}

.text {
    padding:0 1rem 1rem 1rem;
}

.material-symbols-outlined {
    font-size: 5rem;
    background-color: transparent;
    border: 0;
    color: var(--circle-player);
    cursor: pointer;
}

.controls ul {
    display: flex;
    list-style: none;
    margin: 2rem;
}

.time-box {
    width: 100%;
    padding: 1rem;
}

.bar {
    width: 100%;
    background-color: var(--text-color);
    height: 5px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.bar span {
    display: flex;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid var(--circle-player);
    background-color:var(--text-color);
    border-radius: 50%;
    margin-left: 5%;
}

.time {
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}
