* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

:root {
    --text-color: #fbdc67;
    --circle-player: #ff9758;
}

.container {
    background-image: url("../img/paper.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-player {
    backdrop-filter: blur(2px);
    border: 2px solid var(--circle-player);
    box-shadow: 1px 1px 30px 1px var(--circle-player);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 0.8rem;
    width: 23rem;
}

.box-player p {
    padding-bottom: 2rem;
}

.album-cover {
    border-radius: 0.8rem;
    width: 15rem;
    height: 15rem;
    margin: 2rem 2rem 0 2rem;
    border: 2px solid var(--circle-player);
    box-shadow: 1px 1px 30px 1px var(--circle-player);
}

.text {
    padding: 0 1rem 1rem 1rem;
}

.material-symbols-outlined {
    font-size: 5rem;
    background-color: transparent;
    border: 0;
    color: var(--text-color);
    cursor: pointer;
}

.controls ul {
    display: flex;
    list-style: none;
    margin: 2rem;
}

.time-box {
    width: 100%;
    padding: 1rem;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    cursor: pointer;
    overflow: hidden;
  }

.progress {
    height: 100%;
    background-color: var(--circle-player);
    transition: width 0.2s ease-in-out;
    border-radius: 2rem;
    transform-origin: left;
    border-radius: 2rem;
}


.time {
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}
  

  